* {
  box-sizing: border-box;
}

#root {
  color: #125447;
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 2px solid #125447;
}

.Navbar li {
  font-size: 16px;
  display: inline;
  padding-right: 15px;
}

.Navbar li:hover {
  font-weight: bolder;
}

.HomeSection {
  text-align: center;
  padding: 35px;
}

.BannerImg {
  width: 100%;
  margin-bottom: 50px;
}

.shareMealForm {
  background-color: rgba(18, 84, 71, 0.6);
  max-width: 750px;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.shareMealForm input,
.shareMealForm textarea,
.shareMealForm span {
  font-size: 15px;
  margin-left: 15px;
  font-family: Arial, san-serif;
}

.shareMealForm input,
.shareMealForm textarea {
  width: 95%;
  background: #d7ffd7;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 3px;
}
.shareMealForm input:focus,
.shareMealForm textarea:focus {
  background-color: #d7ffd7;
}
.shareMealForm textarea {
  height: 75px;
}

.MealsSearch {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border: 1px solid #125447;
  font-weight: bolder;
  border-radius: 5px;
}

.MealsSearch:focus-within {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  background-color: #fff;
  border: 3px solid #125447;
  border-radius: 5px;
}

.MealsSearch label {
  border-radius: 5px;
  padding: 5px;
}

.MealsSearch button {
  background: #fff;
  width: fit-content;
}

.MealsSearchInput {
  background: none;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}

.MealsSearchInput:focus {
  outline: none;
}

.searchResult a:hover {
  color: darkolivegreen;
}

.Reservation {
  display: flex;
  justify-content: center;
}

.ReservationForm {
  text-align: center;
}

.ReservationForm input {
  margin-bottom: 15px;
  padding-left: 5px;
  display: block;
}

.ReservationForm span {
  display: block;
  text-align: left;
}

.ReviewForm input, textarea {
  display: block;
  padding-left: 5px;
  /* width: 45%; */
  margin-block: 10px;
  margin-inline: 10px;
}

.ReviewContainer {
  padding-inline: 15px;
  color: #125447;
  background-color: rgba(172, 194, 190, 0.7);
  margin-inline: 10px;
  margin-block-end: 10px;
  border-radius: 5px;
}

.ButtonNone {
  background: none;
  text-align: center;
}

.ButtonNone:hoover {
  background: none;
  background-image: none;
}

.ButtonNone:active {
  box-shadow: none;
}

.Footer {
  margin-top: auto;
  border-top: 2px solid #125447;
}
